---
import MySiteLayout from '../layouts/MySiteLayout.astro';
import NavBar from '../components/NavBar.astro';
---



<MySiteLayout title="About Page">
  <NavBar>
  </NavBar>
  
  <h1 class="font-bold text-3xl">About Me</h1>
  <p>This is my new Astro Site</p>

  <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

  <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
  
</MySiteLayout>
